@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
    --font-sans: 'Outfit', sans-serif;
    --font-heading: 'Space Grotesk', sans-serif;

    --color-white: #FFFFFF;
    --color-slate-light: #F8FAFC;
    --color-dark: #0E1117;
    --color-slate-gray: #64748B;
    --color-gold: #C5A059;
    --color-blue-gray: #E2E8F0;
}

@font-face {
    font-family: 'Outfit';
    src: url('./fonts/Outfit.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./fonts/SpaceGrotesk.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: 'Outfit', sans-serif;
        background-color: var(--color-white);
        color: var(--color-dark);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Space Grotesk', sans-serif;
        color: var(--color-dark);
    }
}